/* فونت‌ها */
@font-face {
    font-family: 'Vazir';
    src: url('fonts/Vazir.woff2') format('woff2');
}

@font-face {
    font-family: 'Dima Sogand new';
    src: url('fonts/Titr.woff2') format('woff2');
}

/* بدنه اصلی */
body {
    font-family: 'Vazir', sans-serif;
    background-color: rgba(225, 238, 255, 0.7); /* آبی شفاف */
    color: #333;
    text-align: center;
    padding: 50px 40px 40px 40px; /* افزایش padding بالا */
    direction: rtl;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    max-width: 500px;
    margin: 100px auto 50px auto; /* افزایش حاشیه بالا */
    transform: scale(1.3);
}

/* هدر */
header {
    margin-bottom: 10px;
}

.logo {
    width: 210px;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto 0px auto; /* کاهش فاصله زیر لوگو */
}

/* تیترها */
h1, h2 {
    font-family: 'Dima Sogand new', sans-serif;
    margin: 0;
    color: #324177;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 60px;
    margin: 5px 0 20px 0;
}

/* اطلاعات تماس */
#contact p {
    color: #324177;
    font-size: 30px;
    margin: 8px 0;
    direction: ltr;
    unicode-bidi: plaintext;
}

    #contact p a {
        color: #000000 !important;
        text-decoration: none;
    }

        #contact p a:hover {
            text-decoration: underline;
        }

#contact a {
    color: #007bff;
    text-decoration: none;
}

    #contact a:hover {
        text-decoration: underline;
    }

/* شبکه‌های اجتماعی */
.social-icon {
    width: 45px;
    height: 45px;
    margin: 0 12px;
    cursor: pointer;
    transition: transform 0.2s;
}

    .social-icon:hover {
        transform: scale(1.3);
    }

/* QR Code */
footer {
    margin-top: 10px;
}

.qr {
    width: 190px;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
    object-fit: contain;
}
.website {
    color: #000000;
    font-size: 32px; /* بزرگتر */
    margin: 17px 0 0 0;
    direction: ltr;
    unicode-bidi: plaintext;
}

    .website a {
        color: #000000 !important;
        text-decoration: none;
        font-size: 32px; /* بزرگتر */
    }

        .website a:hover {
            text-decoration: underline;
        }